<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a disabled class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-facebook-official" style="font-size:24px"></i></a>


            <!-- Twitter -->
            <a disabled class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-twitter-square" style="font-size:24px"></i></a>


            <!-- Instagram -->
            <a disabled class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-instagram" style="font-size:24px"></i></a>

            <!-- Linkedin -->
            <a disabled class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-linkedin-square" style="font-size:24px"></i></a>

            <!-- Github -->
            <a disabled class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-github"
                    style="font-size:24px"></i></a>
        </section>
    </div>
    <!-- Grid container -->
    <h5 class="text-bus">Bus-Reservation is the world's largest online bus ticket booking service trusted by over 5 million
        happy customers
        globally. It offers bus ticket booking through its website and Android mobile apps for all major routes.
    </h5>
    <br />
    <div>
        <h6><i class="fa fa-comments" style="font-size:24px"></i> aayush1249@gmail.com</h6>
        <h6><i class="fa fa-address-book" style="font-size:24px"></i> +91 8994003991</h6>
        <h6><i class="fa fa-home" style="font-size:24px"></i> 67,Bridge Avenue,LAS CRUCES,Jaipur,88006</h6>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.637);">
        © 2020 Copyright:
        <a class="text-white" diabled>MDBusBook.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->